{% extends 'base.html.twig' %}
<<<<<<< Updated upstream

{% block body %}
    {{ form(form) }}
{% endblock %}
=======
{% block body %}
    {{ form(form) }}

    <a href="../">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
{% endblock %}
>>>>>>> Stashed changes
